## Changing the default data type of a Tensor(32 to 16 bit precision)

tf.cast(tensor, dtype = tf.float32/int32/float16/int16)

In [107]:
# Create a tensor with default data type(int)

A = tf.constant([1,7,4])
A

In [108]:
# Create a tensor with default data type(int)

B = tf.constant([1.,7.,4.])
B

In [109]:
# Change from int32 to int16 (reduced precision)

C = tf.cast(A, dtype = tf.int16)
C

In [110]:
# Change from float32 to float16 (reduced precision)

D = tf.cast(B, dtype = tf.float16)
D

In [111]:
# Change from int32 to float32

E = tf.cast(A, dtype = tf.float32)
E